/*
Theme Name: camanabay
Theme URI: http://underscores.me/
Author: Ilene Johnson
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: camanabay
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

camanabay is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/* reset the css to avoid conflicts */
@import url("css/reset.css");

@font-face {
    font-family: 'nexabold';
    src: url('fonts/nexa_bold-webfont.eot');
    src: url('fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('fonts/nexa_bold-webfont.woff') format('woff'),
         url('fonts/nexa_bold-webfont.ttf') format('truetype'),
         url('fonts/nexa_bold-webfont.svg#nexabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexalight';
    src: url('fonts/nexa_light-webfont.eot');
    src: url('fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_light-webfont.woff2') format('woff2'),
         url('fonts/nexa_light-webfont.woff') format('woff'),
         url('fonts/nexa_light-webfont.ttf') format('truetype'),
         url('fonts/nexa_light-webfont.svg#nexalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: 'nexalight', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	margin: 0.67em 0;
}

h2 {
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #6d6e71;
	font-family: 'nexalight', sans-serif;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #6d6e71;

}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: 'nexalight', sans-serif;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

.entry-title{
	text-align:center;
	text-transform:uppercase;
	color:#00add8;
	font-family: 'nexabold', sans-serif;
	padding:20px 0;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"]
/*input[type="submit"] */{
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover
/*input[type="submit"]:hover */{
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
/*input[type="submit"]:focus,*/
button:active,
input[type="button"]:active,
input[type="reset"]:active/*,
input[type="submit"]:active */{
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
/********************************************************************
		main style

******************************************************************/
#container {
	text-align: left;
	position: relative;
	max-width:1500px;
	min-width:230px;
	width:100%;
	margin: 0 auto;

}
header{
	width:100%;
	margin: 0 auto;
}

#ic-cb-logo-container
{
	width: 100%;
	clear:both;
	padding-top:2em;
	display:table;
}
#ic-cb-logo-row{
	display:table-row;
}
.ic-cb-logo-cell{
	display: table-cell;
	vertical-align:top;
	width:33%;


}

#cb-header-img{
	margin-left:auto;
	margin-right:auto;
	cursor: pointer;
	display: block;
}

button.menu-toggle {
		width:25px;
		height:25px;
		margin-bottom:5px;
		box-shadow: none;
		border:none;
		vertical-align:middle;
		display: visible !important;
		margin-right:5px;
		background-size:25px 25px;

	}

	.menu-toggle {
		cursor: pointer;
		background: url(images/hamburger.png) 0 0 no-repeat;
		background-position: 0 0;
		background-size:50px 50px;
		border: medium none;
		box-shadow: none;
		display: inline-flex;
 		float:left;
		text-align: right;
	}





/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {

	color:  #00aed9;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
	clear: both;
	float: left;
	width: 100%;
	background-color:#00aed9;
	/*margin-left:30px;*/


}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	color:#ffffff;
	background-color:#00aed9;
	text-transform:uppercase;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 100px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
	background-color:#e6e6e6;
	color:#ffffff;
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
/*	left: auto;*/
left:100%;
  visibility:visible;
  opacity:1;
  transform: translateX(0px);
}
.main-navigation-social-buttons{
   width:25px;
   /*height:25px;*/
   margin-top:.5em;

}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}


.main-navigation{
   display:none;
	}

#site-navigation.toggled
	{
		display: block;
	}

.local-only-bottom {

 margin-left:0;
 }
 #menu-local-visitor-bottom{
	display:inline-flex;
	width:100%
}
 .local-only-bottom, .visitor-only-bottom {
    text-align: center;
    width: 100%;
}

.local-only-bottom a, .visitor-only-bottom a {
	 line-height: 0.5em;
	 text-transform:uppercase;
}

.menu-local-visitor-bottom-container ul li.menu-item {
    border: 1px solid #00aed9 !important;
    text-align: center;
    width: 50%;
}
/* site map content */
#site-map-content-left,#site-map-content-right{

display:inline-block;
  width:48%;



}
#site-map-content{
display:block;
clear:both;
position:relative;
width:70%;
  margin:1.5em auto;

}
#site-map-header{

margin-top:1em;

}
#site-map-content-left{
  float:left;
}
#site-map-content-right{

   float:right;
 }

#site-map-content h3,#site-map-content h2{
 	color:#00b6dd;
	 font-family: 'nexabold', sans-serif;
}

#site-map-content a{
 	color:#00b6dd;
 	text-decoration:none;
 	font-size:1.5em;
 }

 #site-map-content a:visited{

 color:#00b6dd;


 }
 .main-navigation{
		/*display:none;*/
		display:none;
	}

#site-navigation.toggled
	{
		display: block;
	}

/* blog */
.cb_blog_right-inner{
	width:97%;
}

.cb-blog-header{
	background-color:#f2efeb;
	text-align:center;
	font-family: 'nexalight', sans-serif;
	padding:.6em 0;
	color:#008aab;
	text-transform:uppercase;
}

.cb-blog-archive-date-time-br{
	background-color:#efece7;
	width: 100%;
	margin:0;
	padding: 0.5em 0;
}

.cb-blog-archive-time,.cb-blog-archive-date,.cb-blog-archive-day{
	color: #00b6dd;
	padding: 0 .5em;
	display:inline-flex;


}
.cb-blog-archive-time,.cb-blog-archive-day{
	border-right:1px solid #00b6dd;



}
.cb-blog-archive-time{
font-family: 'nexabold', sans-serif;



}


.cb-blog-archive-title{
	font-family: 'nexalight', sans-serif;
    line-height:1.2em;
	width:90%;
	margin: .5em 0;
}

.cb-blog-archive-title a{
	text-decoration:none;
	color: #00b6dd;
}
.cb-blog-archive-title a:visited{
 color: #00b6dd;
}

.cb-blog-archive-container{

	width:48%;
	display:inline-flex;
	position:relative;

}

.cb-blog-single-time,.cb-blog-single-date,.cb-blog-single-day{
	color: #008aab;
}

.cb-blog-outside{
	padding:3px;


}
.cb-blog-grid, .cb-blog-grid-item{
	overflow:hidden;
	margin: 0 auto;
	text-align:center;


}
.cb-blog-item{
	width:430px;
	height:510px;
	margin:5px;
	vertical-align:top;
	display:inline-flex;
}
.cb-blog-item-inside{

   display:inline-block;
   overflow:hidden;
}
.cb-blog-image-item{
	width:430px;
	height:350px;
	overflow:hidden;
}
.cb-single-blog figure{
	width:100% !important;
	background-color:#f2efeb;
}
.cb-single-blog figure figcaption{
	width:90% !important;
	margin: 0 auto !important;
	text-align:left !important;
}
.cb-single-blog figure img{
  width: 100% !important;
}
.cb-single-blog,.cb-single-blog p,.cb-single-blog h2{
	margin:0 auto;
}
.cb-single-blog{
   width:100%;
 }

 .cb-single-blog-title{
    font-family: 'nexalight', sans-serif;
    color:#00add8;
	padding-left:.5em;
	margin-bottom:1em;
 }

 .cb-single-blog p, .cb-single-blog h2{
     width:100%;
     margin-bottom: 1.5em;
 }

.cb-single-blog-item{

    display: block;

    vertical-align: top;
}
.cb-blog-single-item-inside {
    display: block;
    overflow: hidden;
}
.cb_blog_slider_header{

   margin-top:2.5em;


}
/*   end blog*/


.local-visitor-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 30px;
	display:inline-flex;
	width:60%;
}
.local-visitor-navigation a {

	text-decoration: none;
	text-transform:uppercase;
	 line-height: .5em;

}
.local-visitor-navigation a{
	margin-left:auto;
	margin-right:auto;
}

.local-visitor-navigation ul li.menu-item{
	width:50%;
    text-align:center;
	border:1px solid #00aed9 !important;
}


.top-right-navigation ul{
  width:100%;

}
.local-visitor-navigation ul li:last-of-type ,.top-right-navigation ul li:last-of-type{
border-right: none;
}
.top-right-navigation li{
	display:inline-block;

}
.local-only-top, .visitor-only-top, .top-follow{
	background-color:#ffffff;
}




.cb_footer_address{
	border: 1px solid #ffffff;
    color: #ffffff !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
	text-align:center;

}
.ta-icon{

	height:40px;
	float:left;

}
.cb-blog-content-area{

	width:97%;
}
.cb_blog_outside{

 width:94%;
 margin: 0 auto;

}
.cb_blog_outside_single{

   margin-top:1.5em !important;

}
.widget ul {
  list-style: none outside none;
  margin: 0;
}
.widget a {
  text-decoration: none;
  /*text-transform: capitalize;*/
}


/* Small menu. */






.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.cb_blog_left .nav-previous a,
.cb_blog_left .nav-next a {
   text-decoration:none;

}
.cb_blog_left .nav-previous,
.cb_blog_left .nav-next  {
   padding:1em 0;
 }


.cb_blog_left .nav-previous,
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.cb_blog_left .nav-next,
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.mycontainer{

	  display: block;
    margin-left: auto;
    margin-right: auto;
}
.front_page_cell{
	padding-left:8px !important;
	padding-right:8px !important;
}
.cb_shorter_rows
{
	margin-left: auto;
    margin-right: auto;
}

.cb_shorter_rows_70
{
	 margin:0 auto;
    width: 70%;
}
.cb_shorter_rows_80
{
	 margin:0 auto;
    width: 80%;
}
.site-footer .first-row{
	background-color:#00aed9;
	margin-bottom:.8em;
	color:#ffffff;
	padding:.8em 0;


}
.ilenetest{

	width:95%;
	margin-left:auto;
	margin-right:auto;
	background-color:#ece9e2;
}
.site-footer .second-row{
	margin-bottom:1em;
	color:#00aed9;

}
.site-footer .first-row,.site-footer .second-row{
	width:100%;
}
#menu-footer-menu{
	margin-left:0 !important;
	margin-bottom:0 !important;
	float:right;

}

#footer-container{
    width:80%;
}
.fwidget-left{
	margin-left:3em;

}
.footer-widget-1
{
	width:36%;


}
.footer-widget-2
{

	width:30%

}
.footer-widget-3{
	width:33%;
}


.footer-widget{

	float:left;
	font-size:1em;

	width:


}
.fwidget-center{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.footer-menu-item a{
	text-decoration:none;
	color:#ffffff;
	text-transform: capitalize;



}
.menu-footer-menu-container ul{
	list-style: none;
	display:inline-flex;
}
.menu-footer-menu-container li a{
  border-right:1px solid #00aed9;

  padding:0 4px;

}
.menu-local-visitor-container{

	margin:0 auto;

}

.ui-widget-header {

	display:none !important;
}
.ui-dialog{
	border: 1px solid #00aed9 !important;

}
.ui-dialog-content {
	padding: 0.5em 1.5em !important;

}

.ui-corner-all {
    border-radius: 0 !important;
}
.placeholder{
	width:33%;
	height:10px;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.cb-archive-entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin:0;
}
.widget_apsi_widget{

	text-align:center;
}
.copyright-class{
	float:right;
}
/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}
.widget_categories{

	text-transform: uppercase;
	margin:2em 0;
}
h2.widget-title{
	background-color:#efece7;
	color:#00b6dd;
	text-transform: uppercase;
	text-align: center;
	padding:0.13em 0;
	margin-top:0;
}

.customized-sidebar-title{
background-color:#efece7;
	color:#00b6dd;
	text-transform: uppercase;
	text-align: center;
	padding:0.6em 0;
	margin-top:0;
	font-family: 'nexalight', sans-serif;
}
.customized-single-sidebar-title
{
   text-align: left !important;

 }


.cat-item, .widget_archive{


	text-align: center;

}
.cat-item a, .widget_archive a{
	color: #d7d1c4;
	text-transform: uppercase;
	font-family: 'nexalight', sans-serif;
}
/* Search widget. */
.widget_search .search-submit {
	display: none;
}
.search-submit{
	background: url(images/go.png) 0 0 no-repeat !important;
	background-position: 0 0;
	width:43px;
	height:40px;
	border:none;
	cursor:pointer;
}
.cb_no_search_matches{
   margin:1em auto;
   width:95%;
   padding:1em 0;
}


.ui-dialog-osx{
	border:none !important;
}
.search-form-header{
	margin-top:0 !important;
}
.search-form1{

   margin-left:1.5em;

}
.search-form1  input { text-indent: 1.5em;}
.search-form1 .fa-search {
  position: absolute;
  top: 10px;
  left: 2em;
}
.social-media-sidebar-title-fb{
	background-color:#3a5a99;
	background-image:url("images/sidebar-sm-icon-fb.png");

}

.social-media-sidebar-title-twitter{
	background-color:#14b1e7;
	background-image:url("images/sidebar-sm-icon-twitter.png");

}

.social-media-sidebar-title-instagram{
	background-color:#3a5a99;
	background-image:url("images/logo_insta_blue.png");

}
.social-media-sidebar-title-fb, .social-media-sidebar-title-twitter,.social-media-sidebar-title-instagram
{
	width:100%;
	background-position:left center;
	height:30px;
	background-repeat:no-repeat;
	margin:1em 0;




}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.0em 0 0;
}
.cb-archive-entry-content{
   width:100% !important;
   margin: 2em auto;
}
.cb-archive-entry-content article{


	display:inline;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
/*  for the movie type pages in the template
 *  do NOT move these to the plugins
 */
.entry-content-movie{

background:url("images/movie-br.png") !important;
background-color:transparent !important;
background-repeat:repeat-x;

}
.movie_entry{
	margin-bottom:0 !important;
}
.movie-container{
	margin-top:2em;
}
/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.crunchify-link:hover,.crunchify-link:active {
    color: white;
}

.crunchify-twitter {
    /*background-size: 37px 30px;*/
   /*width:37px !important;*/
   /*height:30px;*/
}


.crunchify-facebook {
    /*background-size: 15px 37px;*/
   /*width:15px;*/
   /*height:30px;*/

}
 .crunchify-facebook, .crunchify-twitter{
	/*margin-right:15px !important;*/
}


.crunchify-googleplus {
    background: #D64937;
}

.crunchify-googleplus:hover,.crunchify-googleplus:active {
    background: #b53525;
}

.crunchify-buffer {
    background: #444;
}

.crunchify-buffer:hover,.crunchify-buffer:active {
    background: #222;
}

.crunchify-pinterest {
    background: #bd081c;
}

.crunchify-pinterest:hover,.crunchify-pinterest:active {
    background: #bd081c;
}

.crunchify-social {
    margin: 0 0px 25px 15px;
    -webkit-font-smoothing: antialiased;
	display:inline-flex;
}
.crunchify-social a{
	width:30px;
}
.cb-breadcrumbs{
	text-transform:uppercase;
	vertical-align:top;
	color:#00add8;
}
.cb-breadcrumbs b{
	vertical-align:top;
}
.cb-breadcrumb-submit{

	width:25px;
	height:25px;
	background-width:15px;
	background-height:15px;
	margin-right:10px;
	vertical-align:top;
}
.my_breadcrumbs{


	font-family: 'nexabold', sans-serif;
	font-weight:bold;

}

/*  slider classes */

/*for learn page */
.cb-nivo-caption-mint .nivo-caption {
    background: #64cbc8 none repeat scroll 0 0 !important;
}

.cb-nivo-caption-mint .nivo-directionNav a {
	background: #64cbc8 url("images/slider-icons1.png") no-repeat  !important;


}

.cb-nivo-caption-lavender .nivo-caption {
    background: #a87eb1 none repeat scroll 0 0 !important;
}

.cb-nivo-caption-lavender .nivo-directionNav a {
	background: #a87eb1 url("images/slider-icons1.png") no-repeat  !important;


}
.cb-nivo-caption-lime-green .nivo-caption {
    background: #c4e76a none repeat scroll 0 0 !important;
}

.cb-nivo-caption-lime-green .nivo-directionNav a {
	background: #c4e76a url("images/slider-icons1.png") no-repeat  !important;


}


.cb-nivo-caption-dark-blue .nivo-caption {
    background: #008da8 none repeat scroll 0 0 !important;
}

.cb-nivo-caption-dark-blue .nivo-directionNav a {
	background: #008da8 url("images/slider-icons1.png") no-repeat  !important;
}
.cb-nivo-caption-cb-green .nivo-caption {
    background: #77bc1f none repeat scroll 0 0 !important;
}

.cb-nivo-caption-cb-green .nivo-directionNav a {
	background: #77bc1f url("images/slider-icons1.png") no-repeat  !important;
}



.cb-nivo-caption-wellness .nivo-caption {
    background: #c4e76a none repeat scroll 0 0 !important;
}


.cb-nivo-caption-wellness .nivo-directionNav a {
	background: #c4e76a url("images/slider-icons1.png") no-repeat  !important;
}

.cb-nivo-slider-blue .nivo-directionNav a{

	background: #00b6dd url("images/slider-icons1.png") no-repeat  !important;

}

.cb-nivo-slider-sunrise .nivo-directionNav a{

	background: #FFB718 url("images/slider-icons1.png") no-repeat  !important;

}
.cb-nivo-slider-sunrise .nivo-caption
{
 background: #FFB718 none repeat scroll 0 0 !important;

}

.cb-nivo-slider-cb-orange .nivo-directionNav a{

	background: #FFB718 url("images/slider-icons1.png") no-repeat  !important;

}
.cb-nivo-slider-cb-orange .nivo-caption
{
 background: #FFB718 none repeat scroll 0 0 !important;

}
.cb-nivo-slider-blue .nivo-caption {
	 background: #00b6dd none repeat scroll 0 0 !important;
}
.cb-nivo-caption-cherry .nivo-caption {
    background: #cb003c none repeat scroll 0 0 !important;
}
.cb-nivo-caption-cherry .nivo-directionNav a {
	background: #cb003c url("images/slider-icons1.png") no-repeat  !important;
}
.nivo-caption {

	opacity: 1 !important;
/*	max-width:100%;*/

}
.theme-default.nivo-directionNav a,
.cb-nivo-caption-cherry .nivo-directionNav a,
.cb-nivo-caption-wellness .nivo-directionNav a,
.cb-nivo-slider-blue .nivo-directionNav a,
.cb-nivo-slider-sunrise .nivo-directionNav a,
.cb-nivo-slider-cb-orange .nivo-directionNav a,
.cb-nivo-caption-dark-blue .nivo-directionNav a,
.cb-nivo-caption-cb-green .nivo-directionNav a,
.cb-nivo-caption-lavender .nivo-directionNav a,
.cb-nivo-caption-lime-green .nivo-directionNav a,
.cb-nivo-caption-mint .nivo-directionNav a {


	border-radius: 24px !important;
	width:44px !important;
	height:44px !important;
	background-size:88px 44px !important;



}

.theme-default a.nivo-nextNav,
.cb-nivo-caption-cherry a.nivo-nextNav ,
.cb-nivo-caption-mint a.nivo-nextNav ,
.cb-nivo-caption-wellness a.nivo-nextNav ,
.cb-nivo-caption-lavender a.nivo-nextNav ,
.cb-nivo-caption-cb-orange a.nivo-nextNav ,
.cb-nivo-slider-sunrise a.nivo-nextNav ,
.cb-nivo-caption-cb-green a.nivo-nextNav
.cb-nivo-caption-lime-green a.nivo-nextNav
  {
    background-position: -44px 0 !important;
    right: 15px;
}






/* image block widget */
.cb-page-block-text{
	line-height:2em !important;
	width:85%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display:block;
}
.cb-page-block-text a{
	text-transform:capitalize;
	text-decoration: underline;

}

/* toggles  plugin overrides*/

.azc_tsh_toggle_container, .azc_tsh_toggle_container_open {
    border:none !important;
    margin-bottom: 5px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    overflow: auto;
    padding: 5px 15px;
}
.azc_tsh_toggle, .azc_tsh_toggle_open, .azc_tsh_toggle_active, .azc_tsh_toggle_open_active
{
	border:none !important;
}

.azc_tsh_toggle a{
 text-transform:uppercase !important;
color:#00add8;
 display:block;
 text-align:center;
}

.azc_tsh_toggle {
    background-image: url("images/blue_arrow_small_right.png") !important;
	background-position: 1.5em center;
	background-color:#f2efeb;


}
.azc_tsh_toggle_active {
    background-image: url("images/blue_arrow_small_down.png") !important;
}
.homePagePics .widget-title{
	font-size:1.5em;
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
}

/* contact pages */
p.cb_editor_small_width{

	width:50%;
	margin:0 auto 1em;

}
/* Hours pages */
.cb_hours_grid{
	font-size:1.5em;
	width:95%;
	border:none;
	display:table;
	color:#6d6e71;
	margin: 0 auto ;
}
.cb_hours_grid_row{
	width:100%;
	display:table-row;

}
.cb_hours_grid_left{
	width:40%;
	display:table-cell;
}
.cb_hours_grid_weekday{
	width:15%;
	display:table-cell;
	font-family: 'nexabold', sans-serif;
}
.cb_hours_grid_weekday_time{
	width:15%;
	display:table-cell;
}
.cb_hours_grid_weekend{

display:table-cell;
width:15%;
	font-family: 'nexabold', sans-serif;
}
.cb_hours_grid_weekend_time{
width:15%;
display:table-cell;
}
.hr_class{


    height: 2px !important;
}
.hr_no_bottom_margin{
	margin-bottom:0;
}
.cb_hr_privacy_divider{
	height:0.4em;
	background-color:#00b6dd;


}
span.tab{
    padding: 0 300px;
}



/*  This is for the popups at the right top of the screen */

#top-right-popup-container{
	visibility:visible;

	}
	.menu-search, .menu-follow, .menu-share{

		visibility:hidden;
		display:none;
	}

			*, *:before, *:after { margin: 0; padding: 0; box-sizing: border-box; }


			/* You can safely remove the next two lines */
			.top { padding-right: 20px; background: #261F41; text-align: right; }
			.top a { color: rgba(255,255,255,0.6); text-transform: uppercase; text-decoration: none; line-height: 42px; }

			h1 { padding: 60px 0; font-weight: 400; text-align: center; }
			p { margin: 0 0 20px; line-height: 1.5; }

			.main { margin: 0 auto; padding: 40px 20px; max-width: 960px; line-height: 30px;}
			.main a { color: #DB7580; text-transform: none; }

			/* Styling the Popup Window */
			.popup-trigger,.popup-trigger1 ,.popup-trigger2{ display: block; margin: 0 auto; padding: 7px 20px; max-width: 130px; background: #ffffff; color:#00aed9;
    						  font-weight: 700; text-align: center; text-transform: capitalize; line-height: .5em; cursor: pointer; }

			.popup ,.popup1{display: none; background-color:#ffffff; width: 270px; height:65px;  padding: 15px 30px 50px;
  					background: #fff; color: #333; line-height: 30px; border: 1px solid #00aed9; z-index: 9999;}

			 .popup2 {display: none; background-color:#ffffff; width: 400px; height:65px;  padding: 15px 30px 50px;
  					background: #fff; color: #333; line-height: 30px; border: 1px solid #00aed9; z-index: 9999;}


			.popup3 {  background: #fff none repeat scroll 0 0;  border: 1px solid #00aed9;  color: #333;  display: none;
						height: 65px;  line-height: 30px;  width: 307px;  z-index: 9999;}

  			.popup-mobile {position: relative; top: 0; left: 0; margin: 30px 0 0; width: 100%;}
  		    .popup-btn-close {position: absolute; top: 8px; right: 14px; color: #4EBD79; font-weight: bold; text-transform: uppercase; cursor: pointer;}

.popup-search{ display:none; background-color:#000000;color:#ffffff; width:400px;height:65px;border:1px solid red;}


		#top-right-popup-container {
			/*border: 1px solid #00aed9;*/
			display: block;
			 /*height: 1.5em;*/
		}
		#top-right-share-container a, #top-right-follow-container a, #top-right-search-container a{
			display:inline-block;
		}
		#top-right-share-container, #top-right-follow-container,#top-right-search-container{
			float:left !important;

			display:inline-block;
			width:33%;
		}

		#top-right-share-container, #top-right-follow-container{
		border-right:1px solid #00aed9;

		}
		/* for sow-image-container */

.sow-image-container img{

	margin:0 auto;


	}
.cb_directions_title{
	font-family: 'nexabold', sans-serif;
	text-align:center;
	text-transform:uppercase;
}
.cb_directions_text{
	text-align:center;
	width:90%;
	margin:0 auto;
}

.cb_directions_title {
  width: 90%;
  margin: 0 auto;
}


@media all and (min-width: 230px) and (max-width:300px)
{

	.sow-image-container img{


		margin:0 !important;


	}
	.breadcrumbs{

		margin:0 auto;
	}

	.entry-title{
		text-align:center;
		font-size:1.5em;
	}

.cb-page-block-text {
	width: 95%;
	margin-left:0;
}

	.site-footer{
		width:100%;
	}
	.footer-widget-1 ,.footer-widget-2,.footer-widget-3{
		width:100%;
	}
	.main-navigation a{
		padding:0 35px;
	}
}





@media all and (min-width: 230px) and (max-width: 800px){



	.mycontainer{
		width:100%;
	}
	.cb_shorter_rows{
		width:100% !important;
		margin:0;
	}
	#ic-cb-logo-container
{

	display:block;
}
	#ic-cb-logo-row{
		display:block;
	}
	.ic-cb-logo-cell{
		display: block;

		width:75%;

		margin: 1.5em auto;



	}
button.menu-toggle {

    margin-left: auto;
    margin-right: auto;
}
#cb-header-img{

	cursor: pointer;
	display: block;

}
	.menu-toggle {
		display: block;
		margin: 0 auto 1em;
		float:none;
		margin-left:auto;
		margin-right:auto;

}

	.local-visitor-navigation ul {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.local-visitor-navigation ul li.menu-item {

		width: 100%;
	}

	#top-right-share-container, #top-right-follow-container, #top-right-search-container {


		width: 33.33333%;
		display: inline-block;
	}
	#top-right-share-container, #top-right-follow-container {
		border-right:none;
		border-right: 1px solid #00aed9;

	}


	.footer-widget-1{
		text-align: center;
	}
	.footer-widget-3{
		text-align:center;
	}
	.cb_footer_address{
	     margin: 1em auto;
	}
	.menu-footer-menu-container ul {
		display: block;

		width: 75%;
	}
	.ta-icon {
		float:none;
	}
	#menu-footer-menu {
		float:none;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.copyright-class{
		float:none;
	}


}

@media all   and (max-width:349px){


	.menu-local-visitor-container{
		width:80%;
	}
	#top-right-popup-container{
		width: 43%;
		margin-left: auto;
		margin-right: auto;
		/* height:4.3em; */
		float:none !important;
	}
	.local-visitor-navigation ul li.menu-item {

		width:75%;
		margin:0 auto;
	}

	.main-navigation li{
		width:100%;
		line-height:2.2em;
	}

		.entry-title{
			text-align:center;
		}
}

@media all and (min-width:350px)  and (max-width:400px){
	.breadcrumbs{


	}

	.menu-local-visitor-container{
		width:80%;
	}
	#top-right-popup-container{
		width: 290px;
		margin-left: auto;
		margin-right: auto;
		/* height:4.3em; */
		float:none !important;
	}
	.local-visitor-navigation ul li.menu-item {

		width:65%;
		margin:0 auto;
	}


}

@media all and (min-width:401px) and (max-width:429px) {

	.menu-local-visitor-container{
		width:70%;
	}
	#top-right-popup-container{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		/* height:4.3em; */
		float:none !important;
	}
	.local-visitor-navigation ul li.menu-item {

		width:60%;
		margin:0 auto;
	}

	.main-navigation li{
		width:100%;
		line-height:2.2em;
	}
}


@media all and (min-width:430px) and (max-width:559px) {

	.breadcrumbs{
		width:66%;
		text-align: center;

	}
	.menu-local-visitor-container{
		width:70%;
	}
	#top-right-popup-container{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		/* height:4.3em; */
		float:none !important;
	}
	.local-visitor-navigation ul li.menu-item {

		width:60%;
		margin:0 auto;
	}

	.main-navigation li{
		width:100%;
		line-height:2.2em;
	}

}


@media all and (min-width:560px) and (max-width:800px) {

.breadcrumbs{
		width:79%;
		text-align: center;

	}


}
@media all and (min-width:560px) and (max-width:700px) {

.breadcrumbs{
		width:71%;
		text-align: center;

	}


}
@media all and (min-width:560px) and (max-width:800px) {


	.menu-local-visitor-container{
		width:70%;
	}
	#{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height:4.3em;
		float:none !important;
	}
	.local-visitor-navigation ul li.menu-item {

		width:50%;
		margin:0 auto;
	}

}
@media all and (min-width:300px) and (max-width:1215px)
{
	.main-navigation a{
		padding-top:0;
	}
	.main-navigation li{
		width:100%;

		line-height:1.5em;
	}
}

@media all and (min-width:300px) and (max-width:800px){
	.ic-cb-logo-cell{
		margin: 0 auto 1.5em auto;

	}
	.footer-widget-1 ,.footer-widget-2,.footer-widget-3{
		width: 75%;
	}
	.footer-widget-1 ,.footer-widget-2,.footer-widget-3{
		width: 100%;
	}

}
@media all and (min-width: 801px) and (max-width: 1200px){

	.menu-footer-menu-container li a {
			padding: 0 2px;
	}
	.popup-trigger,.popup-trigger1 ,.popup-trigger2{


		padding:7px 13px;

	}
.menu-footer-menu-container li a {

    padding: 0 2px;
}

.local-visitor-navigation ul{
		width:80%;
	}

}
@media all and (min-width: 305px) and (max-width:425px){

	.cb-page-block-text {
    	width: 85%;
    }

	.entry-title{
		font-size:1.5em;
	}



}
@media all and (max-width:245px)
{

	.ic-cb-logo-cell {
		width: 100%;
	}
	.entry-title {
		text-align:center;
	}
	.site_footer{
		width:100%;
	}

	.mycontainer{
		width:100%;
	}
	.main-navigation li{
		width:100%;
		font-size:1em;

	}


}

/* trip's styles */
html, body {
  overflow-x: hidden;
}

body p {
    line-height: 1.4;
}

h1, .cb_dir_block_title {
	font-size: 32px;
	font-family: 'nexabold', sans-serif;
	font-weight: 700;
}

.cb_cs_title {
	font-size: 32px;
	font-family: 'nexalight', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

h2, h3,
.cb_dir_block_title, .cb_image_block_title,
.cb_cs_h2, .cb_bmw_middle_title {
	font-size: 24px;
	font-family: 'nexabold', sans-serif;
	font-weight: 700;
}

h4, h5, h6,
.cb-breadcrumbs,
.cb_full_action_title, .cb_st_permalink a,
#cb_bmw_middle_bottom, .copyright-class {
	font-size: 20px;
	font-family: 'nexabold', sans-serif;
	font-weight: 700;
}

p, .date_inner, .cb_button_text,
.cb_full_action_sub_title,
.cb_cs_p, .cb_st_next, .cb_bmw_middle_text,
.footer-widget, .menu-local-visitor-bottom-container ul li.menu-item {
	font-size: 16px;
	font-family: 'nexalight', sans-serif;
	font-weight: 300;
}

.cb_menu_item a {
	font-family: 'nexalight', sans-serif;
	font-size: 24px;
	font-weight: 300;
}

a:focus, a:active,
button:focus, button:active,
input[type="text"]:focus, input[type="text"]:active {
	border: none;
	outline: none;
}

.page-template-page-notitle {
	#cb-header-img {
		width: 140px;
	}
}

.aps-social-icon-wrapper {
    width: 80%;
    margin: 0 auto;
}

.aps-social-icon-wrapper .aps-group-horizontal {
    text-align: center;
    padding-top: 1.50em;
    padding-bottom: 0.50em;
}

.crunchify-social {
    width: 80%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

#top-right-follow-container .crunchify-social a {
    width: auto;
    display: inline-block;
    margin: 4px;
}

#top-right-follow-container .crunchify-social a:first-child {
    margin-left: 0;
}

#top-right-follow-container .crunchify-social img {
    margin: 0;
}

.crunchify-social .crunchify-facebook,
.crunchify-social .crunchify-twitter {
    width: auto;
    height: 22px;
}

.cb-text-link {
    text-transform: uppercase;
}

.eztixKioskLink{
  color:#ffb718;
  font-family: 'nexabold', sans-serif;
 }

.eztixKioskLink:hover{
    color:#ffb718;
    cursor:pointer;
}
.metaslider {
    max-height: 650px;
    overflow: hidden;
}

#cb-header-img {
    max-width: 120px;
}

#top-right-share-container,
#top-right-follow-container,
#top-right-search-container {
    text-align: center;
}

.menu .menu-item a:hover {
    color: #00aed9;
}

.panel-grid {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.textWidget {
    line-height: 1.5;
}

.event_action_right h1 {
    padding-bottom:  0;
}

.menu-main-container .menu-item:last-child,
.menu-main-container .menu-item:nth-last-child(2),
.menu-main-container .menu-item:nth-last-child(3) {
    width: auto;
    display: inline-block;
    margin-top: 5px;
}

.menu-main-container .menu-item:last-child a,
.menu-main-container .menu-item:nth-last-child(2) a,
.menu-main-container .menu-item:nth-last-child(3) a {
    padding-right: 0;
}

.menu-main-container .menu-item:last-child a:hover,
.menu-main-container .menu-item:nth-last-child(2) a:hover,
.menu-main-container .menu-item:nth-last-child(3) a:hover {
    background: transparent;
}

.cb_event_detail_line, .cb_event_detail_left {
    text-transform: initial;
}

.main-navigation form input[type="search"] {
    border: 1px solid #EFEEEC;
    border-radius: 0;
    padding-left: 25px;
    margin-left: 10px;
}

.main-navigation form input[type="search"]:focus {
    outline: none;
}

.main-navigation .fa-search {
    color: #EFEEEC;
    position: absolute;
    top: 9px;
    left: 31px;
}

.main-navigation li {
    display: block;
}

.main-navigation a {
    padding: 10px 0 10px 10px;
}

.cb_blog_left, .cb_blog_right {
    display: block;
    width: 100%;
}

.cb_blog_left img {
    width: 100%;
}

.widget_cb_image_block .cb_image_block_text {
    color: #6d6e71 !important;
}

#cb_cs_outer_container {
    background: #ebe8e1;
}

.cb-blog-item {
    width: 100%;
    float: left;
    margin: 0;
}

.cb-blog-item-inside {
    margin: 0 auto;
}

#sb_instagram.sbi_col_1 #sbi_images .sbi_item,
.cb-twitter-hour + .imgdisplay, .cff-item {
    border-bottom: 1px solid #6d6e71 !important;
    padding-bottom: 20px !important;
}

.sbi .sbi_photo {
    max-height: 250px;
}

.sbi .insta_date {
    margin: 1.0em 0 0.750em;
}

.tweettext {
    height: auto;
}

.cb-twitter-hour + .imgdisplay {
    margin-bottom: 15px;
}

#sb_instagram .sbi_info p, #cff .cff-post-text {
    line-height: 18px;
}

.cb_arrow_on_right_widget_outside .cb_arrow_widget {
    width: 100%;
}

.cb_arrow_on_right_widget_h2 img {
    vertical-align: sub !important;
}

#menu-local-visitor-bottom {
    display: block;
}

.local-only-bottom {
    float: left;
}

.visitor-only-bottom {
    float: right;
}

#cb_cs_image_left, #cb_cs_image_right {
    width: 100%;
}

.cb_outline_button, .cb_outline_button:focus, .cb_outline_button:active,
.cb_outline_button:hover, .cb_outline_button:visited {
    background: #00aed9;
}

.customized-sidebar-title {
    display: none;
}

.textwidget p {
    padding: 0 2.0em;
}

.panel-widget-style .textwidget p {
    padding: 0;
}


.customized-single-sidebar-title {
    background: #efece7;
    padding: 5px 0;
}

.cb-blog-single-day, .cb-blog-single-date {
    color: #00add8;
}

.cb-blog-archive-day {
    border-right: 1px solid #00add8;
}

.cb-single-blog-title {
    padding-top: 20px;
}

.cb_arrow_widget {
    text-decoration: none;
}

.full-action-container {
	position: relative;
}

.full-action-container .linkRetail {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.cb_directions_title ~ .cb_directions_text {
	padding: 0;
}

.cb_shorter_rows .textwidget p {
	padding: 0;
}

.site-footer.first-row .mycontainer,
.site-footer.second-row .mycontainer {
	width: 95%;
	margin: 0 2.5%;
}

#cb_cs_image_right img {
	max-height: 250px;
}

footer .menu .menu-item a:hover {
	color: #fff;
}

.cb_cs_h2, .cb-blog-featured-title, .cb-single-blog-title {
	text-transform: uppercase;
}

.cb-single-blog-title {
	font-family: nexabold,sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.cb_cs_subcontainer .cb_cs_p {
	padding: 0;
}

.search .cb-blog-item-inside,
.search .cb-blog-image-item {
	width: 100%;
}

.search .cb-blog-image-item {
	height: auto;
}

.search .cb-blog-item {
	height: 100%;
	float: none;
}

@media screen and (max-width: 500px) {

	.cb-movie-item-widget {
		min-width: 272px;
	}
}

@media screen and (max-width: 768px) {

    .menu-search, .menu-follow, .menu-share{
    	visibility:visible;
    	display:block;
    }

	button.menu-toggle {
		display:block;
		margin-left:1.5em;
	}

	.main-navigation{
       display:none;
       width:45%;
	}

	.main-navigation ul ul {
	    top: 0;
    }

	.popup3 .search-form {
		width: 80%;
		text-align: center;
		padding-top: 10px;
		margin: 0 10%;
	}

    .sbi .sbi_photo {
        max-height: 400px;
    }
}

@media screen and (max-width: 800px) {

	.cb-movie-item-widget {
		width: 313px;
	}
}

@media screen and (min-width: 801px) {

	#top-right-popup-container {
		width: 315px;
		float: right;
	}

	.popup, .popup1, .popup2 {
		width: 312px;
		height: auto;
		padding: 5px 0;
        margin-left: -1px;
	}

	.popup .abs-group-horizontal {
		text-align: center;
	}

	.popup2 .search-form {
		width: 80%;
		text-align: center;
		padding-top: 10px;
		margin: 0 10%;
	}

	.popup2 .search-form input[type="submit"] {
		float: right;
		margin-top: -4px;
	}

    #top-right-share-container,
    #top-right-follow-container,
    #top-right-search-container {
        border-top: 1px solid #00aed9;
        border-bottom: 1px solid #00aed9;
    }

    #top-right-share-container {
        border-left: 1px solid #00aed9;
    }

    #top-right-search-container {
        border-right: 1px solid #00aed9;
    }

    .menu-main-container .menu-item:last-child,
    .menu-main-container .menu-item:nth-last-child(2),
    .menu-main-container .menu-item:nth-last-child(3) {
        display: none;
    }

    .aps-social-icon-wrapper {
        width: 100%;
    }

    .aps-social-icon-wrapper .aps-group-horizontal {
        text-align: right;
    }

    .footer-widget {
        width: 33.33333%;
    }

    .local-only-bottom a, .visitor-only-bottom a {
        padding: 0;
    }

    .aps-social-icon-wrapper .aps-group-horizontal {
        padding-top: 0;
    }

    .containerHeaderSearch {
        width: 100%;
        text-align: right;
        position: relative;
    }

    .containerHeaderSearch input[type="search"] {
        border: 1px solid #EFEEEC;
        border-radius: 0;
        position: relative;
        padding-left: 25px;
    }

    .containerHeaderSearch input[type="search"]:focus {
        border: 1px solid #EFEEEC;
        outline: none;
    }

    .containerHeaderSearch .fa-search {
        color: #EFEEEC;
        position: absolute;
        left: 125px;
        top: 9px;
        z-index: 1;
    }

    .listSocialMedia {
        list-style: none;
        list-style-type: none;
        text-align: right;
        padding-top: 10px;
    }

    .listSocialMedia li {
        display: inline-block;
        padding-right: 3px;
    }

    .listSocialMedia li:last-child {
        padding-right: 0;
    }

    .listSocialMedia i {
        font-size: 1.50em;
        color: #00aed9;
    }

    .cb_directions_text, .cb_directions_title {
      width: 100%;
    }

    .main-navigation .menu-search {
        display: none;
    }

    #cb_cs_image_left, #cb_cs_image_right {
        width: 50%;
    }

    #cb_cs_image_right {
        text-align: center;
    }

	.cb-single-blog-title {
		font-size: 32px;
	}

	.so-panel .textwidget p {
		font-size: 18px;
	}
}

@media screen and (max-width: 800px) {

    #top-right-popup-container{
    	display: none;
    }

    .main-navigation {
        width: 100%;
    }

    .main-navigation li {
        z-index: 1;
    }

    button.menu-toggle {
        width: 30px;
        height: 30px;
        background-size: 30px;
        margin-left: auto;
    }

    #ic-cb-logo-cell {
        width: 25%;
        display: inline-block;
        position: absolute;
        right: 0;
    }

    .ic-cb-logo-cell:nth-child(2) {
        width: 50%;
        display: inline-block;
        margin-left: 25%;
    }

    .menu-local-visitor-container {
        margin-top: 90px;
    }

    #menu-local-visitor {
        position: absolute;
        left: 0;
        right: 0;
    }

    .cb-breadcrumbs {
        display: none;
    }

    #main .entry-header .entry-title {
        padding-top: 0;
        margin-top: 0;
    }
}

@media (min-width: 1024px) {

    .cb-blog-item {
        width: 45%;
        margin: 1.0em;
    }

	.search .cb-blog-item {
		float: none;
	}
}

@media (min-width: 801px) and (max-width: 1516px) {

    #ic-cb-logo-container {
        padding: 32px 30px 0;
    }
}

@media (min-width: 1024px) {

    .cb_blog_left, .cb_blog_right {
        float: left;
        padding: 0 2.50%;
    }

    .cb_blog_left {
        width: 70%;
    }

    .cb_blog_right {
        width: 30%;
    }
}

@media (min-width: 1200px) {

    #cb_cs_image_left {
        width: 60%;
    }

    #cb_cs_image_right {
        width: 40%;
    }
}

@media (min-width: 1216px) {

    .main-navigation ul {
        width: 100%;
        text-align: center;
    }

    .main-navigation li, .main-navigation a {
        display: inline-block;
    }

    .main-navigation a {
        padding: 10px 20px;
    }
}

/* fonts */

h1 {
	font-size: 32px;
	font-weight: 700;
}

h2, h3 {
	font-size: 24px;
	font-weight: 700;
}

h4, h5, h6 {
	font-size: 20px;
	font-weight: 300;
}

body, p, div, span {
	font-size: 16px;
	font-weight: 300;
}

.main-navigation a {
  font-size: 20px;
	font-family: 'nexalight', sans-serif;
	font-weight: 300;
}
