/* toggles  plugin overrides*/

.azc_tsh_toggle_container, .azc_tsh_toggle_container_open {
    border:none !important;
    margin-bottom: 5px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    overflow: auto;
    padding: 5px 15px;
}
.azc_tsh_toggle, .azc_tsh_toggle_open, .azc_tsh_toggle_active, .azc_tsh_toggle_open_active
{
	border:none !important;
}

.azc_tsh_toggle a{
 text-transform:uppercase !important;
color:#00add8;
 font-size:16px;
 font-weight: 300;
 display:block;
 text-align:center;
}

.azc_tsh_toggle {
    background-image: url("../images/blue_arrow_small_right.png") !important;
	background-position: 1.5em center;
	background-color:#f2efeb;


}
.azc_tsh_toggle_active {
    background-image: url("../images/blue_arrow_small_down.png") !important;
}

@media (min-width: 768px) {

    .azc_tsh_toggle a {
        font-size: 24px;
		font-weight: 700;
    }
}
