/*********************************************************************************
*
*  Splash.css
*
*
*	CSS file for the splash screen
*
*
*
*
****************************************************************************************/

#splash-content{
	left : 45%;
	top : 5px;
	position:absolute;
	transform: translate(-50%, -50%);
	width:100%;
	max-width:340px;
}

#innersplash{
	position:absolute;

}
.splash_button_area
{
   background:url('../images/white-round-background.png') 0 0 no-repeat;
   width:200px;
	height:200px;
	background-size:200px 200px;
	position:relative;
}
.splash_button_header{
	text-transform: uppercase;
	text-align:center;
	margin-top:2.5em;
	font-weight:bold;

}
.splash_button_text{
	text-align:center;
	font-size:1em;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	line-height:1.1em;


}



img.splash {
            /* Set rules to fill background */
            min-height: 100%;
            min-width: 1024px;

            /* Set up proportionate scaling */
           width: 100%;
            height: 100%;

            /* Set up positioning */
            position: fixed;
            top: 0;
            left: 0;

}



.top_blue_button{
 background:url('../images/top-blue-button.png') 0 0 no-repeat;
	z-index:6;
	width:225px;
	height:225px;
	margin:5px auto 20px auto;
	background-size:225px 225px;
}
.splash_blue_button_text{
	color:#FFFFFF;
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.4em;
    text-align: center;
    width: 75%;

}
#splash-hdr-img{
	 z-index:6;
	width:100px;
	height:100px;
	margin:5px auto 20px auto;
}

#splash-locations{
	width:100%;
	display:inline-flex;

}
.splash-button{
		   z-index:6;
		   width:175px;
		   height:175px;
}

#splash-i-live-here{
	margin-right:10px;

}

.splash_go_button {
		bottom: 0.3em;
		display: block;
		left: 40%;
		position: absolute;
	}


@media all and (min-width: 230px)  and (max-width:1200px)  {
	#splash-locations{
		display:block;
		text-align:center;
		width:100%;
	}



	#splash-content{

		left:49%;
	}
	#innersplash {
		left: 18%;
	}
	.splash_button_area {
		margin:0 auto;
		width:150px !important;
		height:150px !important;
		background-size:150px 150px !important;
	}

	.splash-button{
	   width:150px;
	   height:150px;
	   display:block;
	   background-size:150px 150px;
	}
	.splash_button_text{
		text-align:center;
		font-size:.65em;
		width:80%;
		margin-left:auto;
		margin-right:auto;
		line-height:1.1em;
		margin-top: 15px;

}

	.top_blue_button {
		background-size: 160px 160px;
		height: 160px;
		width: 160px;
	}
	.splash_blue_button_text {
		color: #ffffff;
		font-size: 0.65em;
		margin-left: auto;
		margin-right: auto;
		padding-top: 1.5em;
		text-align: center;
		width: 65%;
	}


	.splash_go_button {
		bottom: 0.3em;
		display: block;
		height: 30px;
		left: 40%;
		width:30px;
		position: absolute;
	}



	.splash_button_header{

	text-transform: uppercase;
	text-align:center;
	margin-top:0;
	font-weight:bold;
	font-size: 0.6em;
	padding-top:1.5em;

	}



}
@media only screen and (min-width: 300px) and (max-width:550px)
{

	#innersplash {
		left: 25%;
	}



}
@media only screen and (min-width: 550px) and (max-width:1300px) {

	.top_blue_button{

		width:200px;
		height:200px;
		background-size:200px 200px;
	}

	.splash_button_area {
		margin:0 auto;
		 background:url('../images/white-round-background.png') 0 0 no-repeat !important;
		width:175px !important;
		height:175px !important;
		background-size:175px 175px !important;
	}

	.splash_blue_button_text {
		color: #ffffff;
		font-size: 0.65em;
		margin-left: auto;
		margin-right: auto;
		padding-top: 2.5em;
		text-align: center;
		width: 60%;
	}
	#splash-locations{
		width:100%;
		display:inline-flex;

	}
	#innersplash{
		left:0;
	}
}

@media only screen and (min-width: 1200px) {

	#splash-content {
		width: 400px;
		position: absolute;
		left: 50%;
		top: 5px;
		margin-left: -200px;
		-webkit-transform: 	none;
		-moz-transform: 	none;
		-o-transfrom: 		none;
		transform: 			none;
	}
}

/* trip styles */
.splash_button_text {
    font-size: 0.85em;
}

.splash_button_area a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.splash_blue_button_text, .splash_button_text {
    font-size: 0.650em;
}

.splash_button_header {
    font-family: 'nexabold', sans-serif;
    font-size: 0.70em;
}

@media (min-width: 550px) {

    .splash_button_header {
        font-size: 0.850em;
        margin-top: 1.0em;
    }

    .splash_blue_button_text, .splash_button_text {
        font-size: 0.750em;
    }
}

@media (min-width: 1200px) {

    .splash_button_header {
        /*font-size: 0.750em;*/
        line-height: 1.4;
        margin-top: 2.0em;
    }

    .splash_button_text {
        padding-top: 20px;
    }
}

@media (min-width: 1301px) {

    .splash_blue_button_text, .splash_button_text {
        font-size: 0.850em;
    }

    .splash_button_header {
        font-size: 1.0em;
    }
}
